.App {
  text-align: center;
}

.landing_image{
  background-color: rgb(66, 196, 66);
  height: 78%;
  width: 95%;
  border-radius:67% 33% 13% 87% / 62% 68% 32% 38% ;
}

.landingpage_para{
  font-size:20px;
  font-weight: normal;
}
